img_bottom_up.h5
img_bottom_up_gzip1_chunked1.h5
train36.hdf5
train36_imgid2idx.pkl
v2_vqa_data.h5
v2_vqa_info.json
v2_vqa_question.json
pool_info_v2.pkl
pool_info_v3.pkl
pool_info_v4.pkl
redis_home
redis_home/
coco
coco/
figures
figures/

cub_meta.json
cub_train36.hdf5
cub_pool_info_v1.pkl

awa_meta.json
awa_pool_info_v1.pkl
AWA_train36.hdf5
