<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <!-- Functions to help parse the URL query string for AMT data -->
        <script>
        function gup(name) {
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var tmpURL = window.location.href;
            var results = regex.exec(tmpURL);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        function decode(strToDecode) {
            return unescape(strToDecode.replace(/\+/g, " "));
        }
        </script>
    </head>
<body>

<form id='mturk_form' action="MTURK_FORM_TO_SUBMIT" method="POST">
    <input type="hidden" id="assignmentId" name="assignmentId" value='MTURK_ASSIGNMENT_ID'>
    <input type="hidden" id="workerId" name="workerId" value='MTURK_WORKER_ID'>
    <input type="hidden" name="numPairs" value="{{pair_data|length}}">

<div class="container" id="main">
    <div class="row justify-content-center mb-2">
        <h3 class="col text-center">Please help us compare questions!</h3>
    </div>
    <div class="row justify-content-center mb-2">
        <button type="button" id="instruction-toggle" class="btn btn-outline-secondary">Show / Hide Instructions</button>
    </div>
    <div class="row justify-content-center mb-2">
        <div id="main-instructions" class="card bg-light col-10">
          <div class="card-body">
            <h5 class="card-title">Instructions</h5>
            <p class="card-text">
            Which question is most relevant to the images?
            </p>

            <p class="card-text">
            A question is relevant to the images if it accurately refers to the
            contents of at least one of the 4 images presented next to the
            question. If it does not refer to any image content then it is
            not relevant. Note that how relevant a question is does NOT depend
            on how grammatical or fluent it is.
            In particular, note that nonsense questions may still be relevant
            if they accurately identify image contents. 
            </p>

            <p class="card-text">
            <div class="row">
                <div class="col-5 pr-0">
                    <div class="row justify-content-center m-0">
                        <img class="p-2" src="https://vqa_mscoco_images.s3.amazonaws.com/train2014/COCO_train2014_000000275038.jpg" height="164" width="164" alt="pool image 0">
                        <img class="p-2" src="https://vqa_mscoco_images.s3.amazonaws.com/val2014/COCO_val2014_000000524775.jpg" height="164" width="164" alt="pool image 1">
                    </div>
                    <div class="row justify-content-center m-0">
                        <img class="p-2" src="https://vqa_mscoco_images.s3.amazonaws.com/train2014/COCO_train2014_000000135332.jpg" height="164" width="164" alt="pool image 2">
                        <img class="p-2" src="https://vqa_mscoco_images.s3.amazonaws.com/val2014/COCO_val2014_000000393578.jpg" height="164" width="164" alt="pool image 3">
                    </div>
                </div>
                <div class="col-7">
                Consider this image pool.
                Here are some examples of questions that are relevant or irrelevant to the pool:
                <ul>
                    <li>
                    The question "What is on the bed?" is MORE relevant than "What is in the image?" because it refers to specific content in one of the images.
                    </li>
                    <li>
                    The question "Is the bike red?" is NOT relevant because there is no image with a bike. It would be relevant if there were a bike.
                    </li>
                    <li>
                    "Is the bike red?" is LESS relevant than a non-grammatical question that mentions specific image content, like "What is the yellow bus sitting?"
                    </li>
                    <li>
                    "Is the bike red?" and "Remain is going?" are EQUALLY (ir)relevant.
                    </li>
                </ul>
                </div>
            </div>
            </p>

            <p class="card-text">
            For each pool of images shown below, click on the <span class="text-danger">most relevant</span> question. 
            </p>
          </div>
        </div>
    </div>
    <!--
    <div class="row justify-content-center mb-2">
        <p class="col-6 alert alert-danger text-center">If you don’t follow the instructions, your work will be rejected.</p>
    </div>
    -->

    {% for pair in pair_data %}
    {% set pairi = loop.index0 %}
    <div id="pair{{pairi}}" class="row justify-content-center">
        <input type="hidden" name="evalCode{{pairi}}" value="{{pair.eval_code}}">
        <input type="hidden" name="batchIndex{{pairi}}" value="{{pair.batch_index}}">
        <input type="hidden" name="exi{{pairi}}" value="{{pair.exi}}">
        <input type="hidden" name="round{{pairi}}" value="{{pair.roundi}}">
        <!-- dialog -->
        <div class="card col-12 mb-2">
          <div class="card-body row">

            <!-- image pool selection -->
            <div class="col-4 pr-0">
                <div class="row justify-content-center m-0">
                {% for img_url in pair.example.img_urls %}
                    <img class="p-2" src="{{img_url}}" height="164" width="164" alt="pool image {{loop.index0}}">
                    {% if (loop.index0+1) % wrap_period == 0 and loop.index != loop.length %}
                    </div><div class="row justify-content-center m-0">
                    {% endif %}
                {% endfor %}
                </div>
            </div>

            <!-- question selection -->
            <div class="col-1 pl-0 my-auto text-right">
                The question
            </div>
            <div class="col-5 my-auto">
            {% for round in pair.rounds_by_model %}
            <label class="row d-flex btn btn-outline-secondary">
                <div class="col-1">
                    <input type="radio" name="model_options_{{pairi}}" value="{{loop.index0}}">
                    <input type="hidden" name="pair{{pairi}}-m{{loop.index0}}-code" value="{{pair.exp_codes[loop.index0]}}"/>
                </div>
                <div class="col">
                    {{round.questions}}
                </div>
            </label>
            {% endfor %}
            <label class="row d-flex btn btn-outline-secondary">
                <div class="col-1">
                    <input type="radio" name="model_options_{{pairi}}" value="{{pair.rounds_by_model|length}}">
                    <input type="hidden" name="pair{{pairi}}-neither-code" value="neither_{{pair.exp_codes|join('_')}}"/>
                </div>
                <div class="col">
                    (Equally relevant)
                </div>
            </label>
            </div>
            <div class="col-2 pr-0 my-auto">
                is more relevant.
            </div>
          </div>
        </div>
    </div>
    {% endfor %}

    <div class="row justify-content-center mb-2">
        <button type="button" id="confirm" class="btn btn-outline-secondary">Finish HIT</button>
    </div>
    <div id="final-warning" class="d-none row justify-content-center mb-2">
        <p class="col-6 alert alert-warning text-center">You must pick one question for each pair before submitting.</p>
    </div>
    <div id="comment-box" class="row mb-2">
        <label>Comments are welcome!</label>
        <input type="text" id="hitComment" name="hitComment" class="form-control" placeholder="Put any comments relevant to the HIT here. (Optional)">
    </div>
</div>

</form>

<script>
    // MTurk meta-data
    var hitID = gup('hitId');
    var assignmentID = gup('assignmentId');
    var workerID = gup('workerId');
    $('#assignmentId').val(assignmentID);
    $('#workerId').val(workerID);

    // Disable interaction in preview mode
    if (assignmentID == 'ASSIGNMENT_ID_NOT_AVAILABLE') {
        $('#mturk_form :input').prop('disabled', true);
    }

    // Interface stuff
    // Used in main to decide to submit form or not (i.e., not loaded via AMT).
    var form = document.getElementById('mturk_form');
    // Gets whether it is sandbox or real AMT (or nothing)
    var service = decode(gup('turkSubmitTo'));

    if (service.length > 0) {
        form.action = service + '/mturk/externalSubmit';
    } else {
        form.action = '';
    }
    // Show / hide instructions
    $('#instruction-toggle').on('click', function() {
        $('#main-instructions').toggleClass('d-none');
    });

    // submit the HIT once the last image selection has occurred
    $('#confirm').on('click', function(event) {
        var num_selected = 0;
        {% for pair in pair_data %}
        {% set pairi = loop.index0 %}
        num_selected += $('input[name=model_options_{{pairi}}]:checked').length;
        {% endfor %}
        if (num_selected < {{pair_data|length}}) {
            $('#final-warning').toggleClass('d-none', false);
            return;
        }
        $('#final-warning').toggleClass('d-none', true);
        // record final selection
        $('#mturk_form').submit();
    });
</script>
</body>
</html>
